<form action="cadastro" method="post">
    <div class="mb-3">
        <label for="sabor" class="form-label">Sabor</label>
        <input type="text" class="form-control" name="sabor">
    </div>
    <div class="mb-3">
        <label for="peso" class="form-label">Valor</label>
        <input type="number" class="form-control" name="peso">
    </div>
    <div class="mb-3">
        <label for="preco" class="form-label">Preço</label>
        <input type="number" class="form-control" name="preco">
    </div>
    <button type="submit" class="btn btn-primary">enviar</button>
</form>