<div class="container">
  <div class="row">
    {{#each geladinhos}} 
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-title">Sabor: {{sabor}}</p>
            <p class="card-text">Preço: {{preco}}</p>
            <p class="card-text">Peso: {{peso}}g</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>